:root {
  --primary-font: "Press Start 2P", cursive;
  --secondary-font: "DotGothic16", sans-serif;
  --third-font: "Oxanium", cursive;
  --fourth-font: "Share Tech", sans-serif;
  --fifth-font: "Turret Road", cursive;
  --primary-color: rgb(75, 74, 74);
  --secondary-color: #fff;
  --blue: rgb(46, 46, 255);
  --red: rgb(255, 77, 77);
  --green: rgb(101, 255, 96);
  --yellow: rgb(255, 255, 82);
}

body {
  background-color: var(--primary-color);
}
