.form {
  box-shadow: 0 0 20px rgb(0, 0, 0);
  margin: 5% auto;
  display: block;
  width: min(90%, 900px);
  z-index: 4 !important;
}

.form input {
  width: min(100%, 900px);
  font-family: var(--primary-font);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  text-align: center;
  font-size: clamp(2em, 3vw, 3em);
  padding: 0.3em;
  z-index: 4 !important;
}
.form input::placeholder {
  color: var(--secondary-color);
  font-family: var(--primary-font);
  font-size: clamp(0.7em, 3vw, 3em);
  z-index: 3 !important;
  caret-color: transparent;
}
.form input:focus {
  outline: none;
}
.form input:focus::placeholder {
  color: transparent;
}

@media (min-width: 60em) {
  .form {
    position: relative;

    z-index: 4 !important;
  }
}
@media (max-width: 60em) {
  .form {
    position: relative;

    z-index: 4 !important;
  }
}
form .sc-bwzfXH {
  background-color: var(--primary-color) !important;
  box-shadow: 4px 4px 10px rgb(58, 58, 58);
  z-index: -1 !important;
}
form .sc-bwzfXH::before {
  z-index: -1 !important;
}
form .degmfB {
  z-index: -1 !important;
}
form .gMaiuK {
  z-index: -1 !important;
}
form .gMaiuK::before {
  z-index: -1 !important;
}
