.form input {
  display: block;
  margin: 5% auto;
  width: min(100%, 700px);
  font-family: var(--primary-font);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  text-align: center;
  font-size: 2.5em;
}
.form input::placeholder {
  color: var(--secondary-color);
  font-family: var(--primary-font);
  font-size: 1em;
}

.form input:focus {
  outline: none;
}
