.OpenSourceLink {
  display: block;
  text-align: center;
  color: var(--secondary-color);
  margin: 1% auto;
  font-size: clamp(1em, 0.5em, 3em);
  font-family: var(--primary-font);
  border: 3px solid var(--secondary-color);
  padding: 1%;
  width: 60%;
}
.OpenSourceLink a {
  text-decoration: none;
  color: var(--primary-color);
}
.red-letter {
  background-color: var(--red);
}
.blue-letter {
  background-color: var(--blue);
}
.green-letter {
  background-color: var(--green);
}
.yellow-letter {
  background-color: var(--yellow);
}
