.photo-grid {
  display: grid;
  gap: 1em;
}

@media (min-width: 60em) {
  .photo-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .photos-results img {
    transition: all 200ms ease-out;
  }
  .photos-results img:hover {
    transform: scale(2.5);
  }
}
