.photo-grid {
  display: grid;
  gap: 1em;
}

.photos-results img {
  box-shadow: 0 0 10px rgb(104, 104, 104);
}
@media (min-width: 60em) {
  .photo-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .photos-results img {
    transition: all 200ms ease-out;
  }
  .photos-results img:hover {
    transform: scale(2.5);
  }
}
