.color-box-grid {
  display: grid;
  gap: 1.2em;
  text-align: center;
  margin: 5%;
}
@media (min-width: 60em) {
  .color-box-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.stretch {
  min-height: 100% !important;
}
.red-box {
  background-color: var(--red);
}
.blue-box {
  background-color: var(--blue);
}
.yellow-box {
  background-color: var(--yellow);
}
.green-box {
  background-color: var(--green);
}

.red-box,
.blue-box,
.yellow-box,
.green-box {
  border-radius: 2px;
  padding: 1em;
  box-shadow: 5px 5px 10px rgb(0, 0, 0);
}

.subtitles {
  font-size: clamp(1.7em, 3vw, 2.5em);
  font-weight: 500;
  font-family: var(--primary-font);
  letter-spacing: 0.1em;
  line-height: 2em;
  padding-top: 2.5%;
}

.content {
  font-size: clamp(1em, 3vw, 1.4em);
  font-family: var(--secondary-font);
  letter-spacing: 0.05em;
  line-height: 1.7em;
}

.sc-bwzfXH {
  background-color: var(--primary-color) !important;
  box-shadow: 4px 4px 10px rgb(58, 58, 58);
}

.degmfB {
  min-height: 100% !important;
}
